.sidebar-header {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

app-sidebar-header {
  border-right: 1px solid #ddd;
}

.sidebar-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 12px;
  /* background-color: #e6d081; Your router content background */
  display: flex;
  flex-direction: column;
}
