<div class="nav-tabs-container">
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <a class="nav-link" [routerLink]="['/layout/sidebar/chats']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="goToChats()">
                Chats
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" [routerLink]="['/layout/sidebar/contacts']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="goToContacts()">
                Contacts
            </a>
        </li>
        <button (click)="onLogOut()">Logout</button>
    </ul>
</div>