<div class="contacts-list">
  <div class="contact-list-scroll">
    <div class="contact-item" *ngFor="let contact of contactsList">
      <span>{{ contact }}</span>
      <!-- Optional button inside contact item -->
      <!-- <button (click)="onContactAction(contact)">Action</button> -->
    </div>
  </div>

  <button class="open-users-btn" type="button" (click)="showUsersPool = !showUsersPool">
    Add Contact
  </button>
</div>

<!-- Popup user list -->
<div class="users-pool" *ngIf="showUsersPool">
  <div class="users-pool-header">
    <span>Select a user to add</span>
    <button type="button" class="btn btn-danger" (click)="showUsersPool = false">&times;</button>
  </div>

  <ul class="users-list">
    <li *ngFor="let user of availableUsers" class="user-item">
      <span>{{ user }}</span>
      <button type="button" class="add-btn" (click)="onAddUser(user)">Add</button>
    </li>
  </ul>
</div>
